@font-face {
    font-family: "NotoSansKR-Regular";
    src: url("../public/font/NotoSansKR-Regular.ttf");
}

@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("../public/font/NotoSansKR-Bold.ttf");
}

@font-face {
    font-family: "NotoSansKR-ExtraLight";
    src: url("../public/font/NotoSansKR-ExtraLight.ttf");
}

/* body {
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-weight: 500;
} */
